player-connection-mode=Listen
player-connection-guid=81850624
player-connection-debug=0
player-connection-project-name=cisc226game
player-connection-ip=172.27.208.1
player-connection-ip=172.18.48.1
player-connection-ip=192.168.144.1
player-connection-ip=127.0.2.2
player-connection-ip=127.0.2.3
player-connection-ip=192.168.2.59
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
